purple1 = #640a6e;

*
  margin 0px
  padding 0px
  border 0px
  text-decoration none
  font-family "Helvetica", sans-serif

html, body
  width 100%
  height auto

a 
  font-style italic
  font-size 13pt
  color purple1

p
  text-align center
  font-size 13pt
  color #555

strong
  font-variant small-caps
  font-size 18pt
  color purple1

#main
  margin 50px auto
  text-align center
  width 100%
  height auto
  min-height auto

#logo
  float left
  width 40%
  margin-left 5%
  min-width 200px
  img
    width 100%
    height auto

.right
  float right
  margin-right 5%
  padding 30px 0px
  width 40%
  min-width 350px
  .stripe
    width 100%
    color purple1
    hr
      border-bottom: 1px solid purple1
    p
      font-family: 'Economica' sans-serif
      margin 10px auto
      width 350px
      font-weight 200
      line-height 15pt
  .folks
    margin 0 auto
    width 150px
    text-align left
    a
      display block
      margin-bottom 5px

#links
  width 120px
  margin 0px auto
  padding 10px 0px 0px 0px
  position relative
  //height 120px
.link
  height 90px
  width 90px
  background-size 90px 90px
  background-repeat no-repeat
  background-position 0px 0px
  margin 0 auto
#email:hover
  background-image url('../images/email-hover.svg')
#email
  background-image url('../images/email.svg')

h1
  font-family template-gothic
  color #333366
  font-variant small-caps

.hidden
  display none
  visibility none

.inline
  display inline

@media (min-width: 0px) and (max-width: 700px), only screen and (min-device-width : 320px) and (max-device-width : 568px)
  #main
    margin 10px auto
  #logo
    width 100%
    margin 0px 0px 50px 0px
    img
      width 70%
      margin 20px auto
  .right
    width 80%
    float none
    margin 0px auto
  a 
    font-style italic
    font-size 23pt
    color purple1
  
  p
    text-align center
    font-size 16pt
    color #555
  
  strong
    font-variant small-caps
    font-size 28pt
    color purple1
