doctype 5
html
  head
    title makers of no
    link(href="css/client.css", rel="stylesheet")
    meta(name="description", content="Makers of NO. A maker group based in New Orleans, LA.")
    meta(name="keywords", content="maker, makers, hacker, hackers, maker space, space, group, maker group, robotics, hacking, making, nola, new orleans,  louisiana")
    meta(name="author", content="H. Cole Wiley")
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37521739-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #main
      #logo
        h1.hidden Makers of NO
        img(src='/img/logo.svg', title='Makers of NO')
      .right
        .stripe
          p we <strong>make</strong> things
          p we <strong>hack</strong> things
          p we <strong>live</strong> in nola
          br
          hr
          br
          p we meet every wednesday
          a(href='https://www.google.com/maps/place/Entrescan/@29.9565693,-90.1916504,15z/data=!3m1!4b1', target='_blank') @ Entrescan
          p from 6-9pm
          br
          br
          hr
          br
          p sign up for email list
          a(href="https://groups.google.com/forum/#!forum/makers-of-no", target="_blank", title='not so snailish mail')
            #email.link
          br
          hr
          br
          a(href='https://www.facebook.com/groups/1408096496104847/')
            p join the facebook group
          br
          br
          hr
          br
          p here's some of our members and their sites
          .folks
            a(href='http://hcwiley.com', target='_blank') H. Cole Wiley
            a(href='http://mcous.in', target='_blank') Michael Cousins
            a(href='http://jwgoedert.tumblr.com/Projects', target='_blank') James Goedert
            a(href='http://jdeboi.com/portfolio/', target='_blank') Jenna deBoisblanc
            a(href='http://peteleonard.org/wordpress/category/music/', target='_blank') Peter Leonard
            a(href='http://minkaart.net/home/', target='_blank') Minka Stoyanova
