!!!
html
  head
    title Makers of NO
    link(type='text/css', rel='stylesheet', href='./css/index.css')
    //-link(rel='icon', type='image/x-icon', href='./images/fav.gif')
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700,700italic|Adamina' rel='stylesheet' type='text/css'>
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37521739-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #todo
      h1 Makers of NO
      br
      br
      .stripe
        p we <strong>make</strong> things.
        p we <strong>hack</strong> things.
        p we <strong>live</strong> in New Orleans.
      br
      .content
        p We meet every wednesday @ 1201 Mazant
        | from 6pm till the party winds down.
        #links
          a(href='mailto:makersofno@hcwiley.com', target='blank', title='not so snailish mail')
            #email.link
        
