doctype 5
html
  head
    title makers of no
    link(href="css/client.css", rel="stylesheet")
    link(rel='stylesheet', href='css/plusgallery.css')
    meta(name="description", content="Makers of NO. A maker group based in New Orleans, LA.")
    meta(name="keywords", content="maker, makers, hacker, hackers, maker space, space, group, maker group, robotics, hacking, making, nola, new orleans,  louisiana")
    meta(name="author", content="H. Cole Wiley")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/plusgallery.js')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37521739-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #main
      #logo
        h1.hidden Makers of NO
        img(src='/images/logo.svg', title='Makers of NO')
      .right
        .stripe
          p we <strong>make</strong> things
          p we <strong>hack</strong> things
          p we <strong>live</strong> in nola
          br
          hr
          br
          p we meet every thursday
          a(href='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1201+Mazant+St,+New+Orleans,+LA&aq=0&oq=1201&sll=30.032996,-89.882563&sspn=0.378073,0.475845&vpsrc=0&t=h&ie=UTF8&hq=&hnear=1201+Mazant+St,+New+Orleans,+Louisiana+70117&z=16&iwloc=A', target='_blank') @ 1201 Mazant
          p from 7pm till the party winds down.
          br
          br
          hr
          br
          p sign up for email list
          a(href="mailto:makers-of-no+subscribe@googlegroups.com?subject=Join Makers of NO Group&body=I want to join the Makers of NO group.", target="_blank", title='not so snailish mail')
            #email.link
          br
          hr
          br
          p check out the robot parade while you're at it
          a(href='http://robotparadenola.org') robotparadenola.org
          br
          br
          hr
          br
          p here's some of our members and their sites
          .folks
            a(href='http://hcwiley.com', target='_blank') H. Cole Wiley
            a(href='http://mcous.in', target='_blank') Michael Cousins
            a(href='http://jwgoedert.tumblr.com/Projects', target='_blank') James Goedert
            a(href='http://jdeboi.com/portfolio/', target='_blank') Jenna deBoisblanc
            a(href='http://peteleonard.org/wordpress/category/music/', target='_blank') Peter Leonard
            a(href='http://minkaart.net/home/', target='_blank') Minka Stoyanova
  #plusgallery(data-type='google', data-userid='105127219045425363542', data-album-id='5935758408856780881', data-api-key='Gv1sRgCML7-tj3srzKeg')
  script
    $(function(){
      $('#plusgallery').plusGallery();
    });

